*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.large-nav{
    display: flex;
    justify-content: space-evenly;
}
.left-nav img{
    margin-top: -3rem;
}
.center-nav{
    margin-top: 40px;
}

.center-nav a{
    text-decoration: none;
    color: #3E3F66;
    font-weight: 500;
    text-transform: capitalize;
    padding: 20px;
}
.center-nav a:hover{
    text-decoration: none;
    color: #6A49F2;
    font-weight: 500;
    text-transform: capitalize;
    padding: 20px;
}
.wrapper {
    display: flex;
    justify-content: center;
}

.cta {
    height: 50px;
    display: flex;
    padding: 0px 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #6A49F2;
    transition: 1s;
    transform: skewX(-15deg);
    margin-top: 20px;
}

.cta:focus {
    outline: none; 
}
.cta .getting{
    margin-top: 5px;
}

.cta:hover {
    transition: 0.5s;
    color: #fff;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

    span {
    transform: skewX(15deg) 
    }

    span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
    }
    
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #336FA5;
    }
    100% {
        fill: white;
    }
}

.small-nav{
    display: none;
}

.small-left img{
    width: 15rem;
    margin-top: -100px;
}

.burger-icon{
    font-size: 3rem;
    padding: 0 40px;
}
@media (max-width: 970px) {
    .small-nav{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .large-nav{
        display: none;
    }
}
.small-links{
    border-radius: 50px;
    background-color: #fff;
    width: 80%;
    margin: auto;
    height: 500px;
    color: #000;
    display: block;
    padding: 20px;
}
.small-links .small-a{
    text-decoration: none;
    color: #3E3F66;
    font-weight: 500;
    text-transform: capitalize;
    padding: 20px;
    font-size: 20px;
}
.small-links .small-a:hover{
    text-decoration: none;
    color: #6A49F2;
    font-weight: 500;
    text-transform: capitalize;
    padding: 20px;
}
.wrapper2 {
    display: flex;
    justify-content: left;
}

.cta2 {
    height: 30px;
    display: flex;
    padding: 0px 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #6A49F2;
    transition: 1s;
    transform: skewX(-15deg);
    margin-top: 20px;
}

.cta2:focus {
    outline: none; 
}
.cta2 .getting2{
    margin-top: 5px;
}

.cta2:hover {
    transition: 0.5s;
    color: #fff;
}

.cta2 span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta2:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

    span {
    transform: skewX(15deg) 
    }

    span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
    }
    
/**************SVG****************/

path.one2 {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two2 {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three2 {
    animation: color_animm 1s infinite 0.2s;
}

.cta:hover path.one2 {
    transform: translateX(0%);
    animation: color_animm 1s infinite 0.6s;
}

.cta:hover path.two2 {
    transform: translateX(0%);
    animation: color_animm 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_animm {
    0% {
        fill: white;
    }
    50% {
        fill: #336FA5;
    }
    100% {
        fill: white;
    }
}
/* end nav */
/* start hero section */
.hero-right,
.hero-left{
    text-align: center;
}


.hero-left{
    /* margin-top: 300px; */
    position: relative;
    top: 140px;

}
.hero-left h1{
    font-size: 70px;
    color: #32236F;
    letter-spacing: -1.5px;
    font-weight: 700;
    text-align: left;
    /* line-height: 80px; */
    line-height: 1.2;
}
.hero-left span{
    color: #6A49F2;
}
.hero-left p{
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 20px;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #3E3F66;
    line-height: 30px;
}
.upwork-link{
    text-decoration: none;
    padding: 12px 30px;
    background-color: #fff;
    border: 3px solid #6A49F2;
    color: #6A49F2;
    font-weight: 500;
    position: relative;
    border-radius: 12px;
    transition: .4s all;
    text-align: left;
    padding: 10px 50px 5px 20px;
}
.upwork-link:hover{
    background-color: #6A49F2;
    color: #fff;
}
.upwork-link img{
    transition: 0.3s all ease;
}
.upwork-link:hover img{
    transform: rotate(360deg);
}
.first-link{
    margin-right: 20px;
}
@media (max-width: 386px) {
    body{
        overflow-x: hidden;
    }
    .upwork-link{
        text-decoration: none;
        padding: 12px 30px;
        background-color: #fff;
        border: 3px solid #6A49F2;
        color: #6A49F2;
        font-weight: 500;
        position: relative;
        border-radius: 12px;
        transition: .4s all;
        text-align: left;
        padding: 10px 25px 5px 20px;
    }
    .first-link{
        margin-right: 5px;
    }
}
.hero-right{
    /* background-color: #6A49F2; 
    border-radius: 50%; */
    height: 600px;
    margin-bottom: 10px;
    position: relative;
    left: 100px;
}
.mobile img{
    width: 35rem;
    /* transform: rotate(10deg); */
}

.bottom-hero img{
    width: 100%;
}

@media (max-width: 992px) {
    .mobile img{
        width: 20rem;
        position: relative;
        top: -200px;
    }
    .hero-left{
        top: -20px;
    }
}
@media (max-width: 992px) {
    .hero-right{
        /* background-color: #6A49F2; 
        border-radius: 50%; */
        height: 600px;
        position: relative;
        left: 0px;
        top: 200px;
    }
}



.services-heading{
    text-align: center;
}
.services-heading h2{
    font-size: 50px;
    font-weight: 700;
    color: #32236F;
}
.services-heading span{
    color: #6A49F2;
}
.services-heading p{
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 50px;
}
.services-items{
    background-color: #fff;
    width: 85%;
    padding: 50px;
    border-radius: 30px;
    margin: auto;
}
.lord-icon{
    background-color: #6A49F2;
    border-radius: 50px;
}
.service-item h2{
    color: #3E3F66;
    padding-top: -5px;
    margin-left: 10px;
}
.service-item p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 5px;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #3E3F66;
    line-height: 30px;
}
@media (max-width: 1240px) and (min-width: 1005px) {
    .lapp{
        margin-left: -30%;
    }
}
@media (max-width: 1005px) and (min-width: 900px) {
    .lapp{
        margin-left: -50%;
    }
}
@media (max-width: 900px) and  (min-width: 860px) {
    .lapp{
        margin-left: -60%;
    }
}
@media (max-width: 860px) and  (min-width: 768px)  {
    .lapp{
        margin-left: -90%;
    }
}
@media (max-width: 768px) {
    .lapp{
        margin-left: -90%;
        display: none;
    }
}
@media (max-width: 640px) {
    .lap{
        display: none;
    }
}


.about{
    color: #3E3F66;
}
.about-right{
    position: relative;
    top: 50px;
}
.name span{
    color: #6A49F2;
    font-weight: 700;
}
.about-p{
    padding-top: 10px;
    color: #3E3F66;
    font-weight: 400;
    font-size: 18px;
}
.skills{
    padding-top: 10px;
    color: #3E3F66;
}
.skill-img{
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 5px;
    background-color: #191138;
    border-radius: 10px;
    transition: 0.2s all ease;
}
.skill-img:hover{
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 5px;
    background-color: #191138;
    border-radius: 50px;
}
.hoverr {
    color: white; 
    font-size: 50px; 
    padding: 10px; 
    margin: 5px; 
    position: relative; 
    top: 15px; 
    background-color: #191138; 
    border-radius: 10px;
    transition: 0.2s all ease;
}
.hoverr:hover{
    color: white; 
    font-size: 50px; 
    padding: 10px; 
    margin: 5px; 
    position: relative; 
    top: 15px; 
    background-color: #191138; 
    border-radius: 50px;
}

.portfolio{
    padding: 100px 0;
}





:root {
    /* ========== Colors ========== */
    --main-color: #9937cd;
    --light-color: #ffffff;
    --dark-color: #262b40;
    --main-dark-color: #080c2f;
    /* ========== Transition ========== */
    --transition: 0.4s;
}
@media screen and (min-width: 1200px) {
    :root {
        --biggest-font-size: 2.375rem;
        --bigger-font-size: 1.875rem;
        --mid-font-size: 1.5rem;
        --normal-font-size: 1.0625rem;
        --small-font-size: .9375rem;
        --smaller-font-size: .875rem;
        --smallest-font-size: .8125rem;
    }
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#journey .container .journey-friends {
    position: relative;
    z-index: 1;
    color: var(--light-color);
    font-size: var(--bigger-font-size);
    margin: var(--m-32) auto var(--m-24);
    text-align: center;
    font-weight: var(--font-bold);
    transition: var(--transition);
}
#journey .container .journey-friends:hover {
    letter-spacing: 3px;
}
#journey .journey-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
    position: relative;
    font-family: var(--body-font2);
    
}
#journey .journey-content .journey-box h3 {
    color: var(--light-color);
    text-align: center;
    margin-bottom: var(--m-12);
}
#journey .journey-content .journey-card {
    position: relative;
    overflow: hidden;
    padding: var(--p-20);
    /* background: linear-gradient(24deg, var(--main-color), var(--main-color)); */
    border-radius: var(--rounded);
    width: 300px;
    border-radius: 10px;
}
#journey .journey-content .journey-card .channel-photo {
    overflow: hidden;
    height: 300px;
    border-radius: var(--rounded);
    position: relative;
    transition: var(--transition);
}
#journey .journey-content .journey-card .channel-photo img {
    width: 100%;
    object-fit: cover;
    transition: var(--transition);
    transition: 1s;
    height: 100%;
}
#journey .journey-content .journey-card .icons-container {
    width: fit-content;
    position: absolute;
    bottom: -50%;
    transition: var(--transition);
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#journey .journey-content .journey-card .icons-container .prev {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.178);
}
 #journey .journey-content .journey-card:hover .icons-container {
    bottom: 10px;
}
#journey .journey-content .journey-card:hover .channel-photo img {
    transform: rotate(3deg) scale(1.1);
}
#journey .journey-content .journey-card:hover .channel-photo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3019607843);
}

@media screen and (max-width: 325px) {
    #journey .journey-content .journey-card {
        width: 275px;
        transform: scale(0.96);
    }
    #journey .journey-content .journey-card .channel-photo {
        height: 275px;
    }
}
@media screen and (max-width: 576px) {
    #journey .container .journey-friends {
        font-size: var(--normal-font-size);
    }
    #journey .container .journey-friends.heading {
        padding: 0 var(--p-10);
    }
}
.all-journey {
    background-color: var(--main-dark-color);
}


footer{
    background-color: #191138;
    padding: 80px 0 50px 0;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-media img{
    width: 60px;
    padding: 0 10px;
    transition: 0.2s all ease;
}
.social-media img:hover{
    transform: scale(1.1);
}
.copyright{
    display: flex;
    justify-content: center;
}
.copyright-text{
    padding-top: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.copyright-text span{
    color: #9937cd;
    font-weight: 700;
}
@media (max-width:400px) {
    .social-media img{
        width: 40px;
        padding: 0 5px;
        transition: 0.2s all ease;
    }
    .copyright-text{
        padding-top: 30px;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        margin-left: 3%;
    }
}
